BinaryConverterUI/Connected Services/ServiceReference1/BinaryConverterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BinaryConverterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51526/BinaryConverterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51526/BinaryConverterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBinaryConverterService_GetBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinary" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverterService_GetBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverterService_GetOneCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCount" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverterService_GetOneCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IBinaryConverterService">
    <wsdl:operation name="GetBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/IBinaryConverterService/GetBinary" message="tns:IBinaryConverterService_GetBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBinaryConverterService/GetBinaryResponse" message="tns:IBinaryConverterService_GetBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBinaryConverterService/GetOneCount" message="tns:IBinaryConverterService_GetOneCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBinaryConverterService/GetOneCountResponse" message="tns:IBinaryConverterService_GetOneCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBinaryConverterService" type="tns:IBinaryConverterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBinary">
      <soap:operation soapAction="http://tempuri.org/IBinaryConverterService/GetBinary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneCount">
      <soap:operation soapAction="http://tempuri.org/IBinaryConverterService/GetOneCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BinaryConverterService">
    <wsdl:port name="BasicHttpBinding_IBinaryConverterService" binding="tns:BasicHttpBinding_IBinaryConverterService">
      <soap:address location="http://localhost:51526/BinaryConverterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>